<header class="p-3 mb-5 border-bottom bg-white shadow" id="page-header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/products" class="nav-link px-2 link-body-emphasis">Products</a></li>
                <li><a href="/" class="nav-link px-2 link-body-emphasis">Career</a></li>
                <li><a href="/" class="nav-link px-2 link-body-emphasis">Blog</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post" action="/search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">

                <style>
                    #cart-popover {
                        width: 350px;
                        height: 100%;

                        /*  undo popover styles  */
                        border: none;
                        padding: 0;
                        margin: 0;
                        left: auto;

                        /*  animate  */
                        transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete,
                        overlay 0.5s ease-out allow-discrete;
                        translate: 350px 0;

                        &::backdrop {
                            opacity: 0;
                            background: rgba(0, 0, 0, 0.5);
                            transition: opacity 0.5s;
                        }

                        &:popover-open {
                            translate: 0 0;

                            &::backdrop {
                                opacity: 1;
                            }

                            @starting-style {
                                translate: 350px 0;

                                &::backdrop {
                                    opacity: 0;
                                }
                            }
                        }
                    }


                </style>

                <div popover role="menu" id="cart-popover">
                    <turbo-frame id="cart-popover-content" src="/cartContent">
                        Cart not loaded
                    </turbo-frame>
                </div>
                <button popovertarget="cart-popover" popovertargetaction="toggle" class="btn btn-outline-primary position-relative">
                    Cart
                    <turbo-frame id="cart-badge">

                    </turbo-frame>

                </button>

            </div>
        </div>
    </div>
</header>
